table {
    border-collapse: collapse;
    margin-left: 40px;
}

td {
    border: 1px solid black;
    padding: 25px;
}

body {
    background-color: gainsboro;
    margin: 0 auto
}

#ttbody{
    background-color: white;
}

tr{
    background-color: transparent;
}

button {
    border: none;
    border-radius: 12px;
    color: whitesmoke;
    font-size: 17px;
    font-weight: bold;
    padding: 15px;
}

#addRows {
    background-color: #329B24;
}

#addColumns {
    background-color: #329B24;
}

#removeRow {
    background-color: #FF5147;
}

#removeColumn {
    background-color: #FF5147;
}

#fillChange {
    background-color: #329B24;
}

#clear {
    background-color: #FF5147;
}

label {
    font-size: 20px;
    font-weight: bold;
}

select {
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

option {
    font-weight: bold;
    color: #3D3D3D;
}

#control-panel{
    background-color: lightslategray;
    padding: 45px;
    margin-top: -40px;
    width: 100%;
}